.services {
    padding-bottom: 0px;
}
.service__item {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.service__text {
    color: var(--alt-text-cl);
    letter-spacing: 0.03em;
}
