.page-tittle {
    font-family: var(--main-font);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    margin: 0px 0px 40px 0px;
}
.page__tittle {
    color: var(--alt-tittle-cl);
    align-content: center;
}
